/* 

Fonts
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

Colors
Almost black 
#151515 
Dark grey 
#1b1b1b
Grey
#37272e
White
#f5f5f5

*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --aside:15rem;
    --dark-mode-aside:#1b1b1b;
    --day-mode-aside: #f5f5f5; 
    --dark-mode: #151515; 
    --day-mode: #fafafa; 

}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: start;
    align-items: center;
}

.right {
    justify-content: end;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.fh {
    height: 100vh;
}

.fw {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    mix-blend-mode: difference;
    color: var(--day-mode);
}

p, span, li, .btn {
    font-family: 'Roboto', sans-serif;
    mix-blend-mode: difference;
    color: var(--day-mode);
    font-weight: 300;
}

/* makes main background white */
.dark-mode {
    background-color: var(--day-mode);
}

.dark-mode-aside {
    background-color: var(--day-mode-aside)
}

aside {
    width: var(--aside);
    background-color: var(--dark-mode-aside);
    transition: background-color .3s ease-out;
}

main {
    background-color: var(--dark-mode);    
    transition: background-color .5s ease-out;
}


