/* 

Fonts
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

Colors
Almost black 
#151515 
Dark grey 
#1b1b1b
Grey
#37272e
White
#f5f5f5

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --aside:9.7rem;
    --dark-mode-aside:#1b1b1b;
    --day-mode-aside: #f5f5f5; 
    --dark-mode: #151515; 
    --day-mode: #fafafa; 
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: start;
    align-items: flex-start;
}

.right {
    justify-content: end;
    align-items: center;
}

.column {
    flex-direction: column;
}

.column-rev {
    flex-direction: column-reverse;
}

.row {
    flex-direction: row;
}

.row-rev {
    flex-direction: row-reverse;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.fh {
    height: 100vh;
}

.fw {
    width: 100%;
}

.fhp {
    height: 100%;
}

/* .height-section {
    height: 60rem;
} */

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    mix-blend-mode: difference;
    color: var(--day-mode);
    font-weight: 300;
}

p, span, li, .btn {
    font-family: 'Roboto', sans-serif;
    mix-blend-mode: difference;
    color: var(--day-mode);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--day-mode);
    mix-blend-mode: difference;
}

h3 {
    font-size: 2rem;
}

/* makes main background white */
.dark-mode {
    background-color: var(--day-mode);
}

.dark-mode-aside {
    background-color: var(--day-mode-aside)
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* main design blocks */
aside {
    width: var(--aside);
    background-color: var(--dark-mode-aside);
    transition: background-color .3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    border-right: 1px rgba(050, 050, 050, .3) solid;

    /* transform: translateX(-10rem); */
}

main {
    padding-left: var(--aside);
    background-color: var(--dark-mode);    
    transition: background-color .5s ease-out;
}

.mode {
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--day-mode-aside);
    mix-blend-mode: difference;
    
    cursor: pointer;
    transition: .4s;   
    overflow: hidden;
    border-radius: 50%;
}

.mode:hover {
    background-color: var(--day-mode-aside);   
    
}

.mode-icon {
    mix-blend-mode: difference;
    position: relative;
    padding: 1rem;    
}

.mode-icon:after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    position: absolute;
    padding: 1rem;
    border: 1px transparent solid;
    border-radius: 50%;
    transition: .1s;
}

.mode-icon:hover:after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.non-active {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.active {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Aside */

.aside-container {
    padding-left: 1.5rem;
}

.logo-container {
    padding-top: 2rem;
    padding-left: 1rem;
}

.logo {
    width: 40%;
}

ul {
    list-style: none;
    height: 10rem;
    padding: 0 1rem;
}

li {
    font-size: 1.2rem;
    position: relative;
    mix-blend-mode: difference;
    cursor: pointer;
    
}

li p {
    padding-left: 0.2rem;
}

li:before {
    content: '';
    position: absolute;
    margin-top: 25%;
    width: 0%;
    transition: width .2s ease-in-out;
}

li:hover:before {
    content: '';
    position: absolute;
    background-color: var(--day-mode-aside);
    margin-top: 25%;
    width: 100%;
    height: 3px;
    font-family: 'Playfair Display', serif;
    
}
/* 
li:after {
    content: '';
    position: absolute;
    width: 0%;
    transition: .5s 0.1s;
    mix-blend-mode: difference;
}

li:hover:after {
    content: '';
    position: absolute;
    background-color: var(--day-mode-aside);
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
} */

.social {
    align-items: flex-start;
    padding: 2rem 1rem 2rem 1rem;    
}

.icon {
    font-size: 1.2rem;
}


/* Start image */

.start-image {
    overflow: hidden;
    padding: 0!important;
}

.start-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* class */

.main-section {
    height: 100%;
    width: 100%;

    padding: 0 7rem;
}

.information {
    padding: 10rem 2rem 2rem 2rem;
    align-self: flex-start;
}

.information h2 {
    font-size: 6rem;
    padding-bottom: 2rem;
    line-height: 95%;
}

.information p {
    padding-bottom: 4rem;
    
}

.main-image {
    height: 100%;
    
}

.main-image img{       
    width: 100%;
    height: 50rem;

    object-fit: contain;    
}

.main-section a {
    position: relative;
    padding: .8rem 3rem;
    border: 2px var(--day-mode-aside) solid;
    transition: .5s;
    font-size: 1.2rem;
    font-weight: 300;
}

.main-section a:before {
    content: '';
    position: absolute;
    height: 0%;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: difference;
    transition: .2s;
}

.main-section a:hover:before {
    content: '';
    position: absolute;
    background-color: white;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;    
}


/* gallery pages */

.gallery {
    height: 100%;
}

.image-container {
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 55rem;
      
}

.summary {
    flex: 2;
    padding: 0 2rem 0 4rem;
    display: flex;
    margin-bottom: -2rem;
    opacity: 0;
}

.summary h3 {
    /* text-align: center; */
    padding-bottom: 1.5rem;
}

.image-container .image {
    flex: 4;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;    
}

.img-

.image-container:last-child {
    padding-bottom: 4rem;
}

.hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in; 
}

.hidden.fadein-image {    
    opacity: 1;
}

hidden.fadein-sum {
    opacity: 1;
    margin-bottom: 0
}




