@media (max-width: 48em) {

    .main-section {
        padding: 1rem 2rem;
    }

    .information {
        padding: 0;
    }

    .main-image {
        padding: 1rem 0;
    }

    .image-container {
        padding: 2rem;
    }
    .summary {
        padding: 1rem;
    }

}